@font-face {
  font-family: sansLight;
  src: url(../fonts/IRANSansLight.woff); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl; }

.wrapper {
  width: 100%; }
  .wrapper .menu {
    width: 100%;
    height: 100px;
    background-color: #252525;
    display: block; }
    .wrapper .menu nav {
      width: inherit;
      height: inherit; }
      .wrapper .menu nav ul {
        width: inherit;
        height: inherit;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 30px; }
        .wrapper .menu nav ul li {
          width: auto;
          border-right: 2px gray solid;
          padding-right: 23px;
          position: relative; }
          .wrapper .menu nav ul li:hover .sub {
            display: block; }
          .wrapper .menu nav ul li a {
            text-decoration: none;
            color: lightgray;
            text-transform: capitalize;
            font-size: 15px;
            font-family: sansLight;
            transition: 300ms; }
            .wrapper .menu nav ul li a:hover {
              color: white; }
          .wrapper .menu nav ul li .sub {
            background-color: black;
            display: block;
            width: 180px;
            position: absolute;
            top: 100%;
            right: 10px;
            padding: 20px 0px;
            display: none;
            transition: 300ms;
            font-family: sansLight;
            z-index: 56789; }
            .wrapper .menu nav ul li .sub ul {
              display: flex;
              list-style: none;
              flex-flow: column nowrap;
              position: relative;
              row-gap: 10px; }
              .wrapper .menu nav ul li .sub ul li {
                border: unset !important; }
  .wrapper img {
    display: block;
    top: 45px;
    right: 200px;
    position: absolute; }

.unset {
  border: unset !important;
  color: white !important; }

.gol {
  background-color: #c4bebe;
  width: 100%;
  height: 450px; }
  .gol img {
    display: block;
    position: absolute;
    right: 60%;
    bottom: 45%; }
  .gol h1 {
    color: red;
    right: 200px;
    position: absolute;
    bottom: 80%;
    font-family: sansLight; }
  .gol h2 {
    color: #292525;
    right: 200px;
    position: absolute;
    bottom: 77%;
    font-family: sansLight; }
  .gol p {
    position: absolute;
    font-family: sansLight;
    font-size: 18px;
    width: 25%;
    top: 25%;
    right: 10%; }
  .gol button {
    position: absolute;
    padding: 5px;
    border-radius: 15px;
    border: 2px #7a7878 solid;
    font-family: sansLight;
    transition: 300ms;
    top: 45%;
    right: 190px; }
    .gol button a {
      text-decoration: none;
      color: black;
      font-size: 20px; }
      .gol button a:hover {
        color: white; }
    .gol button:hover {
      background-color: red; }

.mori {
  width: 100%;
  height: 1000px; }
  .mori h1 {
    border-top: 3px gray solid; }
  .mori h2 {
    color: red;
    position: absolute;
    font-family: sansLight;
    right: 309px; }
  .mori p {
    position: absolute;
    font-family: sansLight;
    font-size: 18px;
    width: 65%;
    top: 65%;
    right: 16%; }
  .mori img {
    padding: 10px;
    top: 60%;
    position: relative;
    align-items: center;
    justify-content: center;
    right: 28%; }

.p2 {
  position: absolute;
  font-family: sansLight;
  font-size: 18px !important;
  width: 65% !important;
  top: 77% !important;
  right: 16% !important; }

.h22 {
  color: red;
  position: absolute;
  font-family: sansLight;
  right: 309px;
  top: 90%; }

.p3 {
  position: absolute;
  font-family: sansLight;
  font-size: 18px !important;
  width: 65% !important;
  top: 96% !important;
  right: 16% !important; }

.p4 {
  position: absolute;
  font-family: sansLight;
  font-size: 18px !important;
  width: 65% !important;
  top: 143vh !important;
  right: 1230px !important; }

.p5 {
  position: absolute;
  font-family: sansLight;
  font-size: 18px !important;
  width: 65% !important;
  top: 143vh !important;
  right: 1020px !important; }

.p6 {
  position: absolute;
  font-family: sansLight;
  font-size: 18px !important;
  width: 65% !important;
  top: 143vh !important;
  right: 785px !important; }

.p7 {
  position: absolute;
  font-family: sansLight;
  font-size: 18px !important;
  width: 65% !important;
  top: 143vh !important;
  right: 570px !important; }

.h12 {
  border-bottom: 1px gray solid;
  top: 77%;
  position: relative; }

.pic1 {
  width: 100%;
  height: 560px; }
  .pic1 img {
    width: 100%;
    height: 500px;
    background-color: #f0cf7d;
    position: absolute; }
  .pic1 h1 {
    border-bottom: 6px gray solid;
    top: 90%;
    position: relative; }

.neveshte {
  width: 100%;
  height: 420px; }
  .neveshte h2 {
    color: red;
    position: absolute;
    font-family: sansLight;
    right: 309px; }
  .neveshte p {
    position: absolute;
    font-family: sansLight;
    font-size: 18px !important;
    width: 65% !important;
    top: 230vh !important;
    right: 320px !important; }
  .neveshte button {
    position: relative;
    padding: 5px;
    border-radius: 15px;
    border: 2px #7a7878 solid;
    font-family: sansLight;
    transition: 300ms;
    top: 50%;
    right: 310px; }
    .neveshte button a {
      text-decoration: none;
      color: black;
      font-size: 20px; }
      .neveshte button a:hover {
        color: white; }
    .neveshte button:hover {
      background-color: red; }

.pic2 {
  width: 100%;
  height: 560px; }
  .pic2 img {
    width: 100%;
    height: 500px;
    background-color: #f0cf7d;
    position: absolute; }
  .pic2 h1 {
    border-bottom: 6px gray solid;
    top: 90%;
    position: relative; }

.neveshte2 {
  width: 100%;
  height: 400px; }
  .neveshte2 h2 {
    color: red;
    position: absolute;
    font-family: sansLight;
    right: 309px; }
  .neveshte2 p {
    position: absolute;
    font-family: sansLight;
    font-size: 18px !important;
    width: 65% !important;
    top: 330vh !important;
    right: 320px !important; }
  .neveshte2 button {
    position: relative;
    padding: 5px;
    border-radius: 15px;
    border: 2px #7a7878 solid;
    font-family: sansLight;
    transition: 300ms;
    top: 50%;
    right: 310px; }
    .neveshte2 button a {
      text-decoration: none;
      color: black;
      font-size: 20px; }
      .neveshte2 button a:hover {
        color: white; }
    .neveshte2 button:hover {
      background-color: red; }

.pic3 {
  width: 100%;
  height: 560px; }
  .pic3 img {
    width: 100%;
    height: 500px;
    background-color: #f0cf7d;
    position: absolute; }
  .pic3 h1 {
    border-bottom: 6px gray solid;
    top: 90%;
    position: relative; }

.neveshte3 {
  width: 100%;
  height: 445px; }
  .neveshte3 h2 {
    color: red;
    position: absolute;
    font-family: sansLight;
    right: 309px; }
  .neveshte3 p {
    position: absolute;
    font-family: sansLight;
    font-size: 18px !important;
    width: 65% !important;
    top: 430vh !important;
    right: 320px !important; }
  .neveshte3 button {
    position: relative;
    padding: 5px;
    border-radius: 15px;
    border: 2px #7a7878 solid;
    font-family: sansLight;
    transition: 300ms;
    top: 50%;
    right: 310px; }
    .neveshte3 button a {
      text-decoration: none;
      color: black;
      font-size: 20px; }
      .neveshte3 button a:hover {
        color: white; }
    .neveshte3 button:hover {
      background-color: red; }

.pic4 {
  width: 100%;
  height: 250px;
  position: absolute;
  display: block;
  right: 170px;
  top: 455vh; }

.neveshte4 {
  width: 100%;
  height: 400px; }
  .neveshte4 h2 {
    color: red;
    position: absolute;
    font-family: sansLight;
    right: 309px;
    top: 510vh; }

.pic5 {
  width: 100%;
  height: 770px;
  background-color: #6ee66e;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 20px; }
  .pic5 img {
    width: 100%;
    height: 300px; }
  .pic5 h2 {
    font-family: sansLight;
    right: 10px;
    position: absolute;
    color: red; }
  .pic5 p {
    font-family: sansLight;
    position: absolute;
    bottom: 20%; }
  .pic5 button {
    position: relative;
    padding: 5px;
    border-radius: 15px;
    border: 2px #7a7878 solid;
    font-family: sansLight;
    transition: 300ms;
    top: 35%;
    right: 20px; }
    .pic5 button a {
      text-decoration: none;
      color: black;
      font-size: 20px; }
      .pic5 button a:hover {
        color: white; }
    .pic5 button:hover {
      background-color: red; }

.div22 {
  width: 300px;
  height: 600px;
  background-color: white;
  top: 10%;
  position: relative;
  box-shadow: 2px 5px 5px; }

.div23 {
  width: 300px;
  height: 600px;
  background-color: white;
  top: 10%;
  position: relative;
  box-shadow: 2px 5px 5px; }

.div24 {
  width: 300px;
  height: 600px;
  background-color: white;
  top: 10%;
  position: relative;
  box-shadow: 2px 5px 5px; }

.pic6 {
  width: 100%;
  height: 770px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 20px; }
  .pic6 img {
    width: 100%;
    height: 300px; }
  .pic6 h2 {
    font-family: sansLight;
    right: 10px;
    position: absolute;
    color: red; }
  .pic6 p {
    font-family: sansLight;
    position: absolute;
    bottom: 20%; }
  .pic6 button {
    position: relative;
    padding: 5px;
    border-radius: 15px;
    border: 2px #7a7878 solid;
    font-family: sansLight;
    transition: 300ms;
    top: 35%;
    right: 20px; }
    .pic6 button a {
      text-decoration: none;
      color: black;
      font-size: 20px; }
      .pic6 button a:hover {
        color: white; }
    .pic6 button:hover {
      background-color: red; }

.div33 {
  width: 300px;
  height: 600px;
  background-color: white;
  top: 10%;
  position: relative;
  box-shadow: 2px 5px 5px; }

.div34 {
  width: 300px;
  height: 600px;
  background-color: white;
  top: 10%;
  position: relative;
  box-shadow: 2px 5px 5px; }

.div35 {
  width: 300px;
  height: 600px;
  background-color: white;
  top: 10%;
  position: relative;
  box-shadow: 2px 5px 5px; }

.pic7 {
  width: 100%;
  height: 600px;
  background-color: #025f5f; }
  .pic7 p {
    font-family: sansLight;
    color: black;
    text-align: center;
    top: 700vh;
    position: absolute;
    right: 850px; }
  .pic7 h2 {
    position: absolute;
    top: 706vh;
    right: 810px; }
  .pic7 img {
    position: absolute;
    display: block;
    top: 710vh;
    right: 770px; }

.hh2 {
  border-bottom: 1px #39bddf solid;
  top: 47%;
  position: relative; }

.pp2 {
  position: absolute;
  top: 710vh !important;
  right: 900px !important; }

.neveshte5 {
  width: 100%;
  height: 500px;
  background-color: aqua; }
  .neveshte5 h2 {
    color: red;
    position: absolute;
    font-family: sansLight;
    right: 309px;
    top: 750vh; }
  .neveshte5 p {
    position: absolute;
    font-family: sansLight;
    font-size: 18px !important;
    width: 65% !important;
    top: 760vh !important;
    right: 320px !important; }
  .neveshte5 button {
    position: relative;
    padding: 5px;
    border-radius: 15px;
    border: 2px #7a7878 solid;
    font-family: sansLight;
    transition: 300ms;
    top: 75%;
    right: 400px; }
    .neveshte5 button a {
      text-decoration: none;
      color: black;
      font-size: 20px; }
      .neveshte5 button a:hover {
        color: white; }
    .neveshte5 button:hover {
      background-color: red; }

.pic8 {
  background-color: red;
  width: 100%;
  height: 30px; }

.pic9 {
  background-color: #464646;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; }
  .pic9 img {
    position: relative;
    bottom: 160px;
    right: 590px; }
  .pic9 p {
    font-family: sansLight;
    right: 17px;
    position: relative;
    padding: 15px;
    bottom: 70px; }
  .pic9 ul {
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: sansLight;
    position: relative;
    top: 50px; }
    .pic9 ul a {
      text-decoration: none;
      color: white;
      position: relative;
      left: 550px;
      padding: 40px; }
